html
    head
        title = member
        link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
        style
          include style/main.css

        style.
            .backbutton {
                height: 32px;
                padding-top: 10px;
            }
            #left, #right {
                margin-left: 30px;
                margin-right: 30px;
            }
            #statement-table {
                width: 90%;
                margin: auto;
            }
            #head-table {
                margin-top: 10px;
            }

            #statement, #average {
                width: 90%;
                padding-top: 10px;
                margin: auto;
                text-align: center;
            }


        script(src="/canvasjs-1.8.0/canvasjs.min.js")
        script(type='text/javascript')!= "var statements_count = " + statements.length + "; var statements = " + JSON.stringify(statements) + "; current_statement = 0;"
        script(type='text/javascript')!= "var statements_text = " + JSON.stringify(statements_text) + ";"
        script(type='text/javascript')!= "var average_score = " + JSON.stringify(review.average) + ";"

        script(type='text/javascript')!= "var index = "+statement_idx+"; window.onload = function () {var chart = new CanvasJS.Chart('chartContainer', chartData[statements[0]]); chart.render();}"

        script(type='text/javascript')!= "chartData = " + JSON.stringify(data) + "; statements = " + statements + ";"
        script(type='text/javascript').

            function update(index)
            {
                var statement = document.getElementById("statement");
                statement.innerHTML = statements_text[statements[index]];

                var average = document.getElementById("average");
                average.innerHTML = "Average Score: " + average_score[statements[index]];
                var chart = new CanvasJS.Chart('chartContainer', chartData[statements[index]]);
                chart.render();
            }

            function prev()
            {
                index -= 1;
                if (index == 0)
                {
                    var x = document.getElementById("left");
                    x.disabled = true;
                }

                if (index == statements_count - 2)
                {
                    var x = document.getElementById("right");
                    x.disabled = false;
                }
                update(index);
            }

            function next()
            {
                index+=1;

                if (index == 1)
                {
                    var x = document.getElementById("left");
                    x.disabled = false;
                }

                if (index == statements_count - 1)
                {
                    var x = document.getElementById("right");
                    x.disabled = true;
                }

                update(index);
            }

    body
        a(href='/members') Members list
        table(id="head-table"): tr
            td
              -if (previous_member)
                a(href='/members/'+previous_member): img(src='/button_left_.png' class='next')
            td(style='text-align: center; width: 100%;')
              h3= "Reviewed: " + user_name
            td
              -if (next_member)
                a(href='/members/'+next_member): img(src='/button_right_.png' class='next')

        h3= "Self evaluation:"

        -if (!review.self)
          span Is absent
        -else
          table(id='selfEvaluation', class='pure-table pure-table-bordered')
              thead
                  tr
                      td(style="width: 45%;") Statement
                      td(style="width: 20px;") Score
                      td(style="width: 55%;") Comment
              tbody
                  - each i in Object.keys(review.self.statements)
                      tr
                          td= statements_text[i].substring(0, 35) + "..."
                          td(style="text-align:center;")= review.self.statements[i].score
                          td= review.self.statements[i].comment


        h3 360 Evaluation

        table(id="statement-table"): tr
            td
              a(href="/members/"+user_name+"/"+(parseInt(statement_idx)-1)): img(src="/button_left_.png")
            td(style="width: 100%;")
              p(id='statement')= statements_text[statements[statement_idx]]
              p(id='average')= "Average Score: " + review.average[statements[statement_idx]].toFixed(2)
            td
              a(href="/members/"+user_name+"/"+(parseInt(statement_idx) + 1)): img(src="/button_right_.png")

        div(id='chartContainer',
            style="height: 300px; width: 90%; margin: auto;")

        include review_table.jade


        h3(style='text-align: center;') General feedback about the person

          -if (general_feedback.length == 0)
            p(style='text-align: center;') There is no feedback at all
          -else
            table(class="pure-table pure-table-bordered" style='margin-top: 10px;')
              thead: tr
                td Reviewer
                td(style='width: 70%;') Feedback
              tbody
                -each fb in general_feedback
                    tr
                      td
                        p= fb.name
                      td
                        p= fb.feedback
